spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/insurance_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    mongodb:
      uri: mongodb://mongo:27017/insurance_events

server:
  port: 8080
